.conatiner {
  font-family:Arial, sans-serif;
  overflow:hidden;
  display:flex;
  justify-content:center;
  height:100%;
  margin: auto;
  padding: 5%;
}

.conatiner>span{
  text-transform:uppercase;
  position:absolute;
  z-index:-10;
  display:block;
  font-size:40vw;
  font-weight:bold;
  opacity:0.1;
  letter-spacing:-0.1em;
  transform:skew(-1deg, -8deg) rotateY(0deg) translateY(-15%);
}

.internaldiv {
  border-radius:10px;
  width:100%;
  max-width:500px;
  padding:50px;
  position:relative;
  
}
.internaldiv:before,
.internaldiv:after {
  display:block;
  content:"";
  background:#fff;
  position:absolute;
  z-index:-3;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transform:skew(5deg, 3deg) rotateY(15deg);
}
.internaldiv:before {
  background:#000;
  transform:scale(1.05) skew(3deg, 5deg) rotateY(15deg);
  opacity:0.5;
}

fieldset {
  border:none;
}


.inputcontainer:first-child {
  margin-bottom:50px;
  
}

label {
  text-transform:uppercase;
  font-size:10px;
  position:absolute;
  transform:translateY(-100%);
  top:0px;
  left:0;
  transition:0.15s;
}


input {
  width:100%;
  box-sizing:border-box;
  padding:10px;
  font-size:18px;
  outline:none;
  border:5px solid #222;
}

textarea {
  width:100%;
  box-sizing:border-box;
  padding:10px;
  font-size:18px;
  outline:none;
  border:5px solid #222;
}


.inputcontainer {
  
  
  position:relative;
  z-index:10;
  --random1:"1deg";
  --random2:"2deg";
  --random3:"1.5deg";
  perspective:300px;
  
}

.inputcontainer.animate {
  transform:scale(1.2) skew(4deg, 2deg) rotateY(-6deg);
}

.inputcontainer.animate label {
  letter-spacing:2px;
  font-weight:bold;
  font-size:12px;
  top:-4px;
}

.inputcontainer:before,
.inputcontainer:after{
  content:"";
  background:#F04848;
  position:absolute;
  z-index:-1;
  top:-5px;
  left:-5px;
  bottom:-5px;
  right:-5px;
  transform:scale(1);
  opacity:0;
  transition: opacity 0.15s, transform 1000ms;
}

.inputcontainer:after{
  top:-10px;
  left:-10px;
  bottom:-10px;
  right:-10px;
  background:#18A8F0;
  z-index:-2;
}
.inputcontainer.animate:before,
.inputcontainer.animate:after {
  opacity:1;
  transform:scale(var(--random4), var(--random5)) skew(var(--random1), var(--random2)) rotateY(var(--random3));
}

.inputcontainer.animate:after{
  transform:scale(var(--random4), var(--random5)) skew(var(--random3), var(--random1)) rotateY(var(--random2));
}

.submitcontainer {
  position:absolute;
  bottom:-20px;
  right:-50px;
}

.searchBar {
  display: inline-block;
  position:absolute;
  width: 40%;
  bottom:-20px;
  right:-50px;
}



@media (max-width:420px) {
  .internaldiv {padding-bottom:70px;}
  .submitcontainer {
  right:calc(50% - 50px);
}
}

button{
  cursor:pointer;
  border:5px solid #F04848;
  background:#fff;
  color:#222;
  text-transform:uppercase;
  font-size:18px;
  font-weight:bold;
  padding:10px 20px;
  box-shadow:none;
  outline:0;
  transform:skew(5deg, -5deg) rotateY(12deg);
  transition:0.15s;
}



button:hover{
  transform:scale(1.3, 1.08) skew(-2deg, 3deg) rotateY(12deg);
}

.buttonLike{
  cursor:pointer;
  border:2px solid rgb(72, 164, 240);
  background:#fff;
  color:#222;
  text-transform:uppercase;
  font-size:18px;
  font-weight:bold;
  padding:10px 20px;
  box-shadow:none;
  outline:0;
  transform:skew(5deg, -5deg) rotateY(12deg);
  transition:0.15s;
  
}
.buttonLike:hover{
  transform:scale(1.3, 1.08) skew(-2deg, 3deg) rotateY(6deg);
}


.displayPosts{
  padding-left: 27%;
  margin-top: 70%;
  width:50%;
  color: #111; 
  font-family: 'Open Sans', sans-serif; 
  font-size: 30px; 
  margin: 100px 0 0px; 
  text-align: center;
} 

.posts{
  margin-top: 2%;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
}